{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SDG 3 Mental Health Portal</title>
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/form/">Form</a>
</nav>

<div class="container">

    <div class="card">

        <h1>Mental Health Awareness Portal</h1>

        <p>
            Welcome to our SDG 3 awareness portal.
        </p>

    </div>

</div>

</body>

<footer></footer>
</html>